h1 {
  display: inline-block;
  margin-top: 125px;
}

.wkli {
  position: relative;
  display: inline-block;
}

#wk:hover {
  color: #949495;
  border: none;
  padding: none;
  transition: 0.2s;
}

#wk::after {
  content: "";
  width: 75px;
  height: 0;
  border-bottom: 1px solid #e83929;
  position: absolute;
  top: 10px;
  left: -7px;
}
